In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path
path = r'C:\Users\13472\Documents\05-2023 Instacart Basket Analysis- UE'

In [3]:
# Importing dataframe 
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_prods_busy.pkl'))

In [4]:
df_ords_prods_merge.shape

(32404859, 19)

In [5]:
df_ords_prods_merge.head()

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

# Step 2: Finding aggregate mean

In [6]:
# Finding the aggregated mean

df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

I noticed that all the numbers are relatively the same. They are bettween the ranges of 15-23. The results from the entire dataframe differ from those of the subset because the subset did not include all of the departments. But here they are all included.

# Step 4: Creating a loyalty flag

In [7]:
# Creating the max_order column

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Customers that have over 40 orders will be labeled as'Loyal customer'

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
# Customers who have between 11 and 40 orders will be labeled 'Regular customer'

df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
# Customers with 10 orders or less will be labeled 'New customer'

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
df_ords_prods_merge.head(20)

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer
5,5,3367565,1,6,2,7,19.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,550135,1,7,1,9,20.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer
7,7,3108588,1,8,1,14,14.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer
8,8,2295261,1,9,1,16,0.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer
9,9,2550362,1,10,4,8,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
10,144,2968173,15,15,1,9,7.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer
11,146,1870022,15,17,2,16,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,147,1911383,15,18,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,150,2715276,15,21,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer
14,151,487368,15,22,1,10,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer
15,209,2293453,19,2,5,14,6.0,196,3,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
16,212,1973799,19,5,6,12,8.0,196,15,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
17,214,532817,19,7,4,17,6.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,9,New customer
18,232,1573906,21,10,3,10,6.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer
19,458,1593000,31,10,3,8,7.0,196,17,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer

In [12]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

# Step 5

In [13]:
# Checking
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['min', 'max', 'sum','mean']})

                 prices
                    min      max          sum       mean
loyalty_flag
Loyal customer      1.0  99999.0  106814042.2  10.386336
New customer        1.0  99999.0   83011787.2  13.294670
Regular customer    1.0  99999.0  198391693.2  12.495717

# Step 6

In [14]:
# Creating 'avg_price' column

df_ords_prods_merge['avg_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
# Avg_price < 10, labeled 'Low spender'

df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
# Avg_price >= 10, labeled 'High spender'

df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
df_ords_prods_merge.head(20)

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,1,2398795,1,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender
2,2,473747,1,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender
3,3,2254736,1,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,4,431534,1,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender
5,5,3367565,1,6,2,7,19.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,6,550135,1,7,1,9,20.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender
7,7,3108588,1,8,1,14,14.0,196,2,1,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender
8,8,2295261,1,9,1,16,0.0,196,4,1,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender
9,9,2550362,1,10,4,8,30.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
10,144,2968173,15,15,1,9,7.0,196,2,0,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender
11,146,1870022,15,17,2,16,8.0,196,6,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
12,147,1911383,15,18,2,11,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,150,2715276,15,21,1,9,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender
14,151,487368,15,22,1,10,14.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender
15,209,2293453,19,2,5,14,6.0,196,3,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender
16,212,1973799,19,5,6,12,8.0,196,15,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender
17,214,532817,19,7,4,17,6.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,9,New customer,8.372059,Low spender
18,232,1573906,21,10,3,10,6.0,196,2,0,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683,Low spender
19,458,1593000,31,10,3,8,7.0,196,17,0,...,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793,Low spender

In [18]:
# Frequency distribution
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

# Step 7

In [19]:
# Creating the 'median_days_since_prior_order' column
df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [21]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_prior_order'] > 10) & (df_ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [22]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [23]:
df_ords_prods_merge.head(20)

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_since_prior_order,order_frequency_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,2398795,1,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2,473747,1,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3,2254736,1,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4,431534,1,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,5,3367565,1,6,2,7,19.0,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,6,550135,1,7,1,9,20.0,196,1,1,...,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,7,3108588,1,8,1,14,14.0,196,2,1,...,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,8,2295261,1,9,1,16,0.0,196,4,1,...,Mid-range product,Regularly busy,Busiest,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,9,2550362,1,10,4,8,30.0,196,1,1,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,144,2968173,15,15,1,9,7.0,196,2,0,...,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,146,1870022,15,17,2,16,8.0,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,147,1911383,15,18,2,11,7.0,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,150,2715276,15,21,1,9,7.0,196,1,1,...,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,151,487368,15,22,1,10,14.0,196,1,1,...,Mid-range product,Regularly busy,Busiest,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,209,2293453,19,2,5,14,6.0,196,3,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,212,1973799,19,5,6,12,8.0,196,15,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,214,532817,19,7,4,17,6.0,196,1,1,...,Mid-range product,Least busy,Least busy,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,232,1573906,21,10,3,10,6.0,196,2,0,...,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,458,1593000,31,10,3,8,7.0,196,17,0,...,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer

In [24]:
# Frequency Distribution
df_ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

# Step 9

In [25]:
# Exporting dataframe

df_ords_prods_merge.to_pickle(os.path.join(path,'02. Data','Prepared Data','orders_products_agg.pkl'))